@(tasks: List[Task], taskForm: Form[String])

@import helper._

@main("SmartTodo") {

    <div class="bs-docs-header" style="padding-bottom: 50px">
        <div class="page-header">
            <h1 style="text-align: center">Smart Todo</h1>
        </div>
        <ol class="list-group">
        @tasks.map { task =>
            <li class="list-group-item">
                @task.label
                @form(routes.Application.deleteTask(task.id)) {
                    <button class="btn btn-xs btn-danger" type="submit">Delete</button>
                }
            </li>
        }
        </ol>
    </div>

    <h4>Add a new task</h4>
    @form(routes.Application.newTask(), 'class -> "form-horizontal") {
        @inputText(taskForm("Label"), 'class -> "form-control")
        <button class="btn btn-sm btn-primary" type="submit">Create</button>
    }
}
